body {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 180%;
	font-family: "Courier New";
	padding: 2%;
}


.button {
	width: 15%;
	height: 10%;
}



/* classes */

.wrapper{

	width: 1040px;

	margin: auto;

	position: relative;

}

/* --- Header & Footer --- */

header, footer {

    width: 100%;

    position:fixed;

    background: #99FF33;

    z-index: 25;

    /* text-align: center; /* to center the navbar */

}



footer{

	bottom: 0px;

}



#footer{

    margin:0px;

    padding-right: 0px;

    float: right;

}

#header{

     /* --- change header height --- */

     margin: 10px;   

     padding-left: 30px;

     margin-left:0px;   /*important to keep all content aligned left*/

}



header a, footer a{

    font-size: 13pt;

    font-weight: bold;

    color: black; 

}



footer a {

    font-size: 11pt;

}

/* --- navigation --- */
nav ul {
    top: 0px;
    display: inline-block; /* important to arrange items horizontal */
    list-style-type: none;  

}

nav ul li {
    padding-right: 25px;
    padding-left: 25px;
    display: inline; /* important to arrange items horizontal */
}

/*overwriting first and last childs padding to set the padding (l/r) without trouble in the "nav ul li"{} */
nav ul li:first-child {
    padding-left: 0px;
}

nav ul li:last-child {
    padding-right: 0px;
}

/* ---- CSS FOR SMALL DEVICES ---- */
@media only screen and (max-width :1160px) { 

	.wrapper{
		width:90%; 
		margin-left: 5%;
	}

	article{
		width: 100%;
	}
}
